  <link rel="stylesheet" href="/assets/css/StyleC.css">
  <div id="Main">
    <div class="background">
      <div class="container">
        <div class="screen">
          <div class="screen-header">
            <div class="screen-header-left">
              <div class="screen-header-button close"></div>
              <div class="screen-header-button maximize"></div>
              <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>Contactanos</span>

              </div>
              <div class="app-contact">Telefono : 809-881-2894<br>Direccion : Popular,<br> Av. Independencia,<br>Santo
                Domingo</div>
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <form action="/Contacto" method="POST">
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Nombre" name="nombre">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Asunto" name="asunto">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="E-mail" name="email">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Numero" name="number">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" placeholder="Mensaje que deseas enviar" name="mensaje">
                  </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button">Cancelar</button>
                    <button class="app-form-button" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/Mapa.png" alt="">
    </div>
  </div>