
    <div class="banner">
        <img src="/assets/img/Circuit.jpg" alt="" srcset="" id="Banner">
        <div class="Texto"><span>E</span>-Electronic</div>
        <div class="Texto2">Vuela hacia el futuro</div>
    </div>
    <div id="Main">
        <!-- Servicios -->
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <p>↑</p>
        </button>
        <div id="Servicios">
            <h2>Servicios</h2>
            <div class="AniDiv"></div>
            <div id="Productos-Servicio">
                <div class="container">
                    <img src="/assets/img/Motherboard.jpg" alt="" class="image">
                    <div class="overlay">
                        <div class="text">Productos</div>
                    </div>
                </div>
                <p>Compra uno de nuestros productos</p>
                <p>o alguna pieza que estes buscando</p>
                <button class="button" onclick="ShowDiv()"><span>Ver Productos </span></button>
            </div>
            <div id="Reparacion">
                <div class="container">
                    <img src="/assets/img/Reparacion.jpg" alt="" class="image">
                    <div class="overlay">
                        <div class="text">Reparaciones</div>
                    </div>
                </div>
                <p>Compra uno de nuestros productos</p>
                <p>o alguna pieza que estes buscando</p>
                <button class="button" onclick="ShowDiv2()"><span>Ver más </span></button>
            </div>
            <p class="Clear"></p>
        </div>
        <!-- Productos -->
        <div id="Productos">
            <h2>Productos</h2>
            <div class="AniDiv"></div>
            <div class="container-Productos">
                <div class="box">
                    <img src="assets/img/Componentes.png">
                    <span>Componentes</span>
                </div>
                <div class="box">
                    <img src="/assets/img/Headphone.png">
                    <span>Accesorios</span>
                </div>
                <div class="box">
                    <img src="/assets/img/Celphone.png">
                    <span>Celulares</span>
                </div>
                <div class="box">
                    <img src="/assets/img/Otros.png">
                    <span>Otros</span>
                </div>
            </div>
        </div>
        <!-- Reparaciones -->
        <div id="Reparaciones">
            <h2>Reparaciones</h2>
            <div class="AniDiv"></div>
            <iframe src="https://www.youtube.com/embed/riJFjBLBx7c" frameborder="0"></iframe>
        </div>
        <!-- Nosotros -->
        <div id="Nosotros">
            <h2>Nosotros</h2>
            <div class="AniDivW"></div>
            <div class="NLeft">
                <div id="Slide">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                            <div class="numbertext">1 / 3</div>
                            <img src="/assets/img/Tecnicos.jpg">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">2 / 3</div>
                            <img src="/assets/img/E.jpg">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">3 / 4</div>
                            <img src="/assets/img/M.jpg">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">4 / 4</div>
                            <img src="/assets/img/Celular2.jpg">
                        </div>

                    </div>
                    <br>

                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <p>
                    Somos una compañia que se encarga de
                    tener en cuanta las necesidades de los
                    consumidores y entregarles un servicio
                    con el que esten satisfechos, sin importar
                    la edad.
                </p>
                <h3>Mision</h3>
                <p>
                    Ofrecer las mejores partes y reponer de
                    manera eficiente los equipos electrónicos
                </p>
                <h3>Vision</h3>
                <p>
                    Tenemos en mente ser una compañía en la que las
                    personas pueden confiar, en una que las personas
                    saben que nosotros ofreceremos un trabajo justo
                    para todos, y daremos nuestro máximo para dar
                    los mejores resultados.
                </p>
                <h3>Valores</h3>
                <ul>
                    <li>
                        <p>Calidad</p>
                    </li>
                    <li>
                        <p>Solidaridad</p>
                    </li>
                    <li>
                        <p>Trabajo en equipo</p>
                    </li>
                    <li>
                        <p>Responsabilidad</p>
                    </li>
                </ul>
            </div>

            <p class="Clear"></p>
        </div>
    </div>
    <!-- Body end -->

    <!-- Aside -->
    <aside>
        <div id="Anuncio">
            <img src="/assets/img/Coke.gif" alt="Coke Ad">
        </div>
    </aside>