<link rel="stylesheet" href="/assets/css/StylesN.css">
<div id="Main">
        <div id="Nosotros">
                <h2>Nosotros</h2>
                <div class="AniDivW"></div>
                <div class="NLeft">
                    <div id="Slide-Nosotros">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                          <div class="numbertext">1 / 3</div>
                          <img src="/assets/img/Tecnicos.jpg">
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext">2 / 3</div>
                          <img src="/assets/img/E.jpg">
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext">3 / 4</div>
                          <img src="/assets/img/M.jpg">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">4 / 4</div>
                            <img src="/assets/img/Celular2.jpg">
                          </div>
                        
                        </div>
                        <br>
                    
                        <div style="text-align:center">
                          <span class="dot"></span> 
                          <span class="dot"></span> 
                          <span class="dot"></span> 
                          <span class="dot"></span> 
                        </div>
                </div>
                    <p>
                        Somos una compañia que se encarga de 
                        tener en cuanta las encesiades de los 
                        consumidores y entregarles un servicio 
                        con el que esten satiscfechos. No importa 
                        la edad, nos encargaremos de dejarlos 
                        satisfechos
                    </p>                 
                    <h3>Mision</h3>
                    <p>
                        Ofrecer las mejores partes y reponer de 
                        manera eficiente los equipos electrónicos
                    </p>
                    <h3>Vision</h3>
                    <p>
                        Tenemos en mente ser una compañía en la que las 
                        personas pueden confiar, en una que las personas 
                        saben que nosotros ofreceremos un trabajo justo 
                        para todos, y daremos nuestro máximo para dar 
                        los mejores resultados.
                    </p>
                    <h3>Valores</h3>
                    <ul>
                        <li><p>Calidad</p></li>
                        <li><p>Solidaridad</p></li>
                        <li><p>Trabajo en equipo</p></li>
                        <li><p>Responsabilidad</p></li>
                    </ul>
                </div>
                <p class="Clear"></p>
            </div>
    </div>