<div id="Productos">
    <h2>Productos</h2>
    <div class="AniDiv"></div>
    <div class="container-Productos">
        <div class="box">
            <img src="assets/img/Componentes.png">
            <span>Componentes</span>
        </div>
        <div class="box">
            <img src="/assets/img/Headphone.png">
            <span>Accesorios</span>
        </div>
        <div class="box">
            <img src="/assets/img/Celphone.png">
            <span>Celulares</span>
        </div>
        <div class="box">
            <img src="/assets/img/Otros.png">
            <span>Otros</span>
        </div>
    </div>
</div>