<link rel="stylesheet" href="/assets/css/StyleS.css">
<div id="Servicios">
        <h2>Servicios</h2>
        <div class="AniDiv"></div>
        <div id="Productos-Servicio">
            <div class="container">
                <img src="/assets/img/Motherboard.jpg" alt="" class="image">
                <div class="overlay">
                    <div class="text">Productos</div>
                </div>
            </div>
            <p>Compra uno de nuestros productos</p>
            <p>o alguna pieza que estes buscando</p>
            <button class="button"><span>Ver Productos </span></button>
        </div>
        <div id="Reparacion">
            <div class="container">
                <img src="/assets/img/Reparacion.jpg" alt="" class="image">
                <div class="overlay">
                    <div class="text">Reparaciones</div>
                </div>
            </div>
            <p>Compra uno de nuestros productos</p>
            <p>o alguna pieza que estes buscando</p>
            <button class="button" onclick="ShowDiv()"><span>Ver Productos </span></button>
        </div>
        <div class="Clear"></div>
    </div>